Python-3.12.8.tgz
Python-3.12.8/*
*.mkv
mediapipe_env/*
.venv/*
pose_deploy_linevec_faster_4_stages.prototxt:Zone.Identifier
pose_deploy_linevec_faster_4_stages.prototxt
pose_deploy.prototxt
pose_deploy.prototxt:Zone.Identifier
pose_iter_584000.caffemodel
pose_iter_584000.caffemodel:Zone.Identifier
mlcda_env*
mlcda_env/*
*.mp4
data/*
a.txt
SkeletonHelperGLTF_{frame}.glb
__pycache__/SkeletonHelperGLTF.cpython-312.pyc
